.csslider {
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 22px; }

.csslider > input {
  display: none; }

.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
  margin-left: 0%; }

.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
  margin-left: -100%; }

.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
  margin-left: -200%; }

.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
  margin-left: -300%; }

.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
  margin-left: -400%; }

.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
  margin-left: -500%; }

.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
  margin-left: -600%; }

.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
  margin-left: -700%; }

.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
  margin-left: -800%; }

.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
  margin-left: -900%; }

.csslider > input:nth-of-type(11):checked ~ ul li:first-of-type {
  margin-left: -1000%; }

.csslider > input:nth-of-type(12):checked ~ ul li:first-of-type {
  margin-left: -1100%; }

.csslider > input:nth-of-type(13):checked ~ ul li:first-of-type {
  margin-left: -1200%; }

.csslider > input:nth-of-type(14):checked ~ ul li:first-of-type {
  margin-left: -1300%; }

.csslider > input:nth-of-type(15):checked ~ ul li:first-of-type {
  margin-left: -1400%; }

.csslider > input:nth-of-type(16):checked ~ ul li:first-of-type {
  margin-left: -1500%; }

.csslider > input:nth-of-type(17):checked ~ ul li:first-of-type {
  margin-left: -1600%; }

.csslider > input:nth-of-type(18):checked ~ ul li:first-of-type {
  margin-left: -1700%; }

.csslider > input:nth-of-type(19):checked ~ ul li:first-of-type {
  margin-left: -1800%; }

.csslider > input:nth-of-type(20):checked ~ ul li:first-of-type {
  margin-left: -1900%; }

.csslider > ul {
  position: relative;
  width: 820px;
  height: 420px;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  background-color: #d1d1d1;
  border: 10px solid #d1d1d1;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box; }

.csslider > ul > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  transition: all .6s ease;
  background-size: cover;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal; }

.csslider > ul > li.scrollable {
  overflow-y: scroll; }

.csslider > .navigation {
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 10;
  margin-bottom: -10px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.csslider > .navigation > div {
  margin-left: -100%; }

.csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 2px;
  padding: 5px;
  background: #d1d1d1; }

.csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px;
  background: #0097ef;
  border-radius: 50%;
  padding: 3px;
  opacity: 0; }

.csslider > .arrows {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px; }

.csslider.inside .navigation label {
  border: 1px solid #7e7e7e; }

.csslider > .navigation label:hover:after, .csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after, .csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after, .csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after, .csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after, .csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after, .csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after, .csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after, .csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after, .csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after, .csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after, .csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after, .csslider > input:nth-of-type(12):checked ~ .navigation label:nth-of-type(12):after, .csslider > input:nth-of-type(13):checked ~ .navigation label:nth-of-type(13):after, .csslider > input:nth-of-type(14):checked ~ .navigation label:nth-of-type(14):after, .csslider > input:nth-of-type(15):checked ~ .navigation label:nth-of-type(15):after, .csslider > input:nth-of-type(16):checked ~ .navigation label:nth-of-type(16):after, .csslider > input:nth-of-type(17):checked ~ .navigation label:nth-of-type(17):after, .csslider > input:nth-of-type(18):checked ~ .navigation label:nth-of-type(18):after, .csslider > input:nth-of-type(19):checked ~ .navigation label:nth-of-type(19):after, .csslider > input:nth-of-type(20):checked ~ .navigation label:nth-of-type(20):after {
  opacity: 1; }

.csslider > .arrows {
  position: absolute;
  left: -31px;
  top: 50%;
  width: 100%;
  height: 26px;
  padding: 0 31px;
  z-index: 0;
  box-sizing: content-box; }

.csslider > .arrows label {
  display: none;
  position: absolute;
  top: -50%;
  padding: 13px;
  box-shadow: inset 2px -2px 0 1px #d1d1d1;
  cursor: pointer; }

.csslider > .arrows label:hover {
  box-shadow: inset 3px -3px 0 2px #0097ef;
  margin: 0 0px; }

.csslider > .arrows label:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%; }

@media (max-width: 1199px) {
  .csslider > input:nth-of-type(1):checked ~ .arrows.left label:nth-of-type(0), .csslider > input:nth-of-type(2):checked ~ .arrows.left label:nth-of-type(1), .csslider > input:nth-of-type(3):checked ~ .arrows.left label:nth-of-type(2), .csslider > input:nth-of-type(4):checked ~ .arrows.left label:nth-of-type(3), .csslider > input:nth-of-type(5):checked ~ .arrows.left label:nth-of-type(4), .csslider > input:nth-of-type(6):checked ~ .arrows.left label:nth-of-type(5), .csslider > input:nth-of-type(7):checked ~ .arrows.left label:nth-of-type(6), .csslider > input:nth-of-type(8):checked ~ .arrows.left label:nth-of-type(7), .csslider > input:nth-of-type(9):checked ~ .arrows.left label:nth-of-type(8), .csslider > input:nth-of-type(10):checked ~ .arrows.left label:nth-of-type(9), .csslider > input:nth-of-type(11):checked ~ .arrows.left label:nth-of-type(10), .csslider > input:nth-of-type(12):checked ~ .arrows.left label:nth-of-type(11), .csslider > input:nth-of-type(13):checked ~ .arrows.left label:nth-of-type(12), .csslider > input:nth-of-type(14):checked ~ .arrows.left label:nth-of-type(13), .csslider > input:nth-of-type(15):checked ~ .arrows.left label:nth-of-type(14), .csslider > input:nth-of-type(16):checked ~ .arrows.left label:nth-of-type(15), .csslider > input:nth-of-type(17):checked ~ .arrows.left label:nth-of-type(16), .csslider > input:nth-of-type(18):checked ~ .arrows.left label:nth-of-type(17), .csslider > input:nth-of-type(19):checked ~ .arrows.left label:nth-of-type(18), .csslider > input:nth-of-type(20):checked ~ .arrows.left label:nth-of-type(19), .csslider.infinity > input:first-of-type:checked ~ .arrows.left label:last-of-type {
    display: block;
    left: 0;
    transform: rotate(45deg); }
  .csslider > input:nth-of-type(1):checked ~ .arrows.right label:nth-of-type(2), .csslider > input:nth-of-type(2):checked ~ .arrows.right label:nth-of-type(3), .csslider > input:nth-of-type(3):checked ~ .arrows.right label:nth-of-type(4), .csslider > input:nth-of-type(4):checked ~ .arrows.right label:nth-of-type(5), .csslider > input:nth-of-type(5):checked ~ .arrows.right label:nth-of-type(6), .csslider > input:nth-of-type(6):checked ~ .arrows.right label:nth-of-type(7), .csslider > input:nth-of-type(7):checked ~ .arrows.right label:nth-of-type(8), .csslider > input:nth-of-type(8):checked ~ .arrows.right label:nth-of-type(9), .csslider > input:nth-of-type(9):checked ~ .arrows.right label:nth-of-type(10), .csslider > input:nth-of-type(10):checked ~ .arrows.right label:nth-of-type(11), .csslider > input:nth-of-type(11):checked ~ .arrows.right label:nth-of-type(12), .csslider > input:nth-of-type(12):checked ~ .arrows.right label:nth-of-type(13), .csslider > input:nth-of-type(13):checked ~ .arrows.right label:nth-of-type(14), .csslider > input:nth-of-type(14):checked ~ .arrows.right label:nth-of-type(15), .csslider > input:nth-of-type(15):checked ~ .arrows.right label:nth-of-type(16), .csslider > input:nth-of-type(16):checked ~ .arrows.right label:nth-of-type(17), .csslider > input:nth-of-type(17):checked ~ .arrows.right label:nth-of-type(18), .csslider > input:nth-of-type(18):checked ~ .arrows.right label:nth-of-type(19), .csslider > input:nth-of-type(19):checked ~ .arrows.right label:nth-of-type(20), .csslider > input:nth-of-type(20):checked ~ .arrows.right label:nth-of-type(21), .csslider.infinity > input:last-of-type:checked ~ .arrows.right label:first-of-type {
    display: block;
    right: 0;
    transform: rotate(225deg); } }

@media (min-width: 1200px) {
  .csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0%; }
  .csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -33.3333333333%; }
  .csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -66.6666666667%; }
  .csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -100%; }
  .csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -133.333333333%; }
  .csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -166.666666667%; }
  .csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -200%; }
  .csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -233.333333333%; }
  .csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -266.666666667%; }
  .csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -300%; }
  .csslider > input:nth-of-type(11):checked ~ ul li:first-of-type {
    margin-left: -333.333333333%; }
  .csslider > input:nth-of-type(12):checked ~ ul li:first-of-type {
    margin-left: -366.666666667%; }
  .csslider > input:nth-of-type(13):checked ~ ul li:first-of-type {
    margin-left: -400%; }
  .csslider > input:nth-of-type(14):checked ~ ul li:first-of-type {
    margin-left: -433.333333333%; }
  .csslider > input:nth-of-type(15):checked ~ ul li:first-of-type {
    margin-left: -466.666666667%; }
  .csslider > input:nth-of-type(16):checked ~ ul li:first-of-type {
    margin-left: -500%; }
  .csslider > input:nth-of-type(17):checked ~ ul li:first-of-type {
    margin-left: -533.333333333%; }
  .csslider > input:nth-of-type(18):checked ~ ul li:first-of-type {
    margin-left: -566.666666667%; }
  .csslider > input:nth-of-type(19):checked ~ ul li:first-of-type {
    margin-left: -600%; }
  .csslider > input:nth-of-type(20):checked ~ ul li:first-of-type {
    margin-left: -633.333333333%; }
  .csslider > ul > li {
    width: 33.3333333333%; }
  .csslider > .navigation label:nth-of-type(3n):not(:nth-last-of-type(3)) {
    display: none; }
  .csslider > .navigation label:nth-of-type(3n + 2):not(:nth-last-of-type(3)) {
    display: none; }
  .csslider > .navigation label:nth-last-of-type(1) {
    display: none; }
  .csslider > .navigation label:nth-last-of-type(2) {
    display: none; }
  .csslider > input:nth-of-type(1):checked ~ .arrows.left label:nth-of-type(-2), .csslider > input:nth-of-type(2):checked ~ .arrows.left label:nth-of-type(1), .csslider > input:nth-of-type(3):checked ~ .arrows.left label:nth-of-type(1), .csslider > input:nth-of-type(4):checked ~ .arrows.left label:nth-of-type(1), .csslider > input:nth-of-type(5):checked ~ .arrows.left label:nth-of-type(4), .csslider > input:nth-of-type(6):checked ~ .arrows.left label:nth-of-type(4), .csslider > input:nth-of-type(7):checked ~ .arrows.left label:nth-of-type(4), .csslider > input:nth-of-type(8):checked ~ .arrows.left label:nth-of-type(7), .csslider > input:nth-of-type(9):checked ~ .arrows.left label:nth-of-type(7), .csslider > input:nth-of-type(10):checked ~ .arrows.left label:nth-of-type(7), .csslider > input:nth-of-type(11):checked ~ .arrows.left label:nth-of-type(10), .csslider > input:nth-of-type(12):checked ~ .arrows.left label:nth-of-type(10), .csslider > input:nth-of-type(13):checked ~ .arrows.left label:nth-of-type(10), .csslider > input:nth-of-type(14):checked ~ .arrows.left label:nth-of-type(13), .csslider > input:nth-of-type(15):checked ~ .arrows.left label:nth-of-type(13), .csslider > input:nth-of-type(16):checked ~ .arrows.left label:nth-of-type(13), .csslider > input:nth-of-type(17):checked ~ .arrows.left label:nth-of-type(16), .csslider > input:nth-of-type(18):checked ~ .arrows.left label:nth-of-type(16), .csslider > input:nth-of-type(19):checked ~ .arrows.left label:nth-of-type(16), .csslider > input:nth-of-type(20):checked ~ .arrows.left label:nth-of-type(19), .csslider.infinity > input:first-of-type:checked ~ .arrows.left label:nth-last-of-type(3) {
    display: block;
    left: 0;
    transform: rotate(45deg); }
  .csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(3):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(4):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(5):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(6):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(7):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(8):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(9):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(10):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(11):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(12):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(13):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(12):checked ~ .navigation label:nth-of-type(14):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(13):checked ~ .navigation label:nth-of-type(15):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(14):checked ~ .navigation label:nth-of-type(16):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(15):checked ~ .navigation label:nth-of-type(17):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(16):checked ~ .navigation label:nth-of-type(18):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(17):checked ~ .navigation label:nth-of-type(19):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(18):checked ~ .navigation label:nth-of-type(20):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(19):checked ~ .navigation label:nth-of-type(21):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(20):checked ~ .navigation label:nth-of-type(22):not(:nth-last-of-type(-n + 3)):after {
    opacity: 1; }
  .csslider > input:nth-of-type(1):checked ~ .arrows.right label:nth-of-type(4):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(2):checked ~ .arrows.right label:nth-of-type(4):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(3):checked ~ .arrows.right label:nth-of-type(4):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(4):checked ~ .arrows.right label:nth-of-type(7):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(5):checked ~ .arrows.right label:nth-of-type(7):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(6):checked ~ .arrows.right label:nth-of-type(7):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(7):checked ~ .arrows.right label:nth-of-type(10):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(8):checked ~ .arrows.right label:nth-of-type(10):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(9):checked ~ .arrows.right label:nth-of-type(10):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(10):checked ~ .arrows.right label:nth-of-type(13):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(11):checked ~ .arrows.right label:nth-of-type(13):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(12):checked ~ .arrows.right label:nth-of-type(13):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(13):checked ~ .arrows.right label:nth-of-type(16):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(14):checked ~ .arrows.right label:nth-of-type(16):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(15):checked ~ .arrows.right label:nth-of-type(16):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(16):checked ~ .arrows.right label:nth-of-type(19):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(17):checked ~ .arrows.right label:nth-of-type(19):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(18):checked ~ .arrows.right label:nth-of-type(19):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(19):checked ~ .arrows.right label:nth-of-type(22):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(20):checked ~ .arrows.right label:nth-of-type(22):not(:nth-last-of-type(-n + 2)), .csslider > input:nth-of-type(3n + 1):nth-last-of-type(4):checked ~ .arrows.right label:nth-last-of-type(3), .csslider > input:nth-of-type(3n + 1):nth-last-of-type(5):checked ~ .arrows.right label:nth-last-of-type(3), .csslider > input:nth-of-type(3n + 2):nth-last-of-type(4):checked ~ .arrows.right label:nth-last-of-type(3), .csslider.infinity > input:last-of-type:checked ~ .arrows.right label:first-of-type, .csslider.infinity > input:nth-last-of-type(1):checked ~ .arrows.right label:nth-of-type(1), .csslider.infinity > input:nth-last-of-type(2):checked ~ .arrows.right label:nth-of-type(1), .csslider.infinity > input:nth-last-of-type(3):checked ~ .arrows.right label:nth-of-type(1) {
    display: block;
    right: 0;
    transform: rotate(225deg); } }

/*# sourceMappingURL=slider.css.map */
