/* make-columns */

@mixin paginate($n, $slides-num) {
	> .slides > li {width: 100% / $n}

	@for $i from 0 to $slides-num {
		> input:nth-of-type(#{$i + 1}):checked ~ .slides > li:first-of-type {
			margin-left: $i * -100% / $n; // Slide the slides to the left
		}
	}

	> .dots > label {
		display: none; // Hide all dots by default

		// Show the ones we want
		&:nth-last-of-type(#{$n}), // The last page, the leftmost slide for all other pages:
		&:nth-of-type(#{$n}n-#{$n - 1}):not(:nth-last-of-type(-n+#{$n})) {
			display: inline;
		}
	}

	> .arrows {
		> label {
			display: none; // Hide all arrows by default
		}
	}

	// Show the correct arrows
	@for $i from 0 to $slides-num {
		> input:nth-of-type(#{$i + 1}):checked {
			// Left arrow
			~ .arrows:not(.right) > label:nth-of-type(#{$i}),
			// Right arrow
			~ .arrows:not(.left) > label:nth-of-type(#{($i - $i % $n + 1) * $n + 1}) {
				display: block;
			}
		}
	}
}
