@mixin paginate($n) {
	> .slides > li {width: 100% / $n}

	> .arrows > label {
		display: none; // Hide all arrows by default
	}

	> .dots > label {
		display: none; // Hide all dots by default

		// Show the dots for each page
		&:last-of-type, // The last page, the leftmost slide for all other pages (below)
		&:nth-of-type(#{$n}n-#{$n - 1}):not(:nth-last-of-type(-n+#{$n})) {
			display: inline;
		}
	}

	// For all possible checked radios
	// Loop indices are 0-based, :nth-x selectors are 1-based, take care
	@for $i from 0 to $css-slider-max-slides {
		> input:nth-of-type(#{$i + 1}):checked {
			//TODO Highlight current dot

			// Left arrow on standard pages
			@if $i >= $n {
				~ .arrows:not(.right) > label:nth-of-type(#{($i - $i % $n) - $n + 1}) {
					display: block;
				}
			}

			// Right arrow on standard pages
			~ .arrows:not(.left) > label:nth-of-type(#{($i - $i % $n) + $n + 1}) {
				&:not(:nth-last-of-type(-n+#{$n})) {
					display: block;
				}
			}

			// Left arrow on first page, goes to last slide
			&:nth-of-type(-n+#{$n}) ~ .arrows:not(.right) > label:last-child {
				display: block;
			}

			// Right arrow on last page, goes to first slide
			&:nth-last-of-type(-n+#{$n}) {
				~ .arrows:not(.left) > label:first-child {
					display: block;
				}
			}

			// Right arrow to last page
			&:nth-last-of-type(n+#{$n + 1}):nth-last-of-type(-n+#{$n * 2}) {
				~ .arrows:not(.left) > label:last-child {
					display: block;
				}
			}

			// For radios on all pages except the last
			&:not(:nth-last-of-type(-n+#{$n})) {
				// Slide left by full page-widths
				~ .slides > li:first-of-type {
					margin-left: ($i - $i % $n) / $n * -100%;
				}
			}
			~ .dots label:nth-of-type(#{$i + 1 }):before {
				opacity: 1;
			}

			// For each radio on the last page
			@for $j from 0 to $n { // Nested loop! Keep this short
				&:nth-last-of-type(#{$n - $j}) {
					// Slide to the last page
					~ .slides > li:first-of-type {
						// Slide #{$i - $j} is always the left-most slide on the last page
						margin-left: ($i - $j) * -100% / $n;
					}
				}
			}
		}
	}
}
