@mixin paginate($n, $wrap: true, $scroll-full-page: true) {
  $B: &; // Store the block class

  &__slide {width: 100% / $n}

  &__dot {
    @if $scroll-full-page { // Show only one dot per page
      display: none; // Hide all dots

      &:last-of-type, // The last page, the leftmost slide for all other pages (below)
      &:nth-of-type(#{$n}n-#{$n - 1}):not(:nth-last-of-type(-n+#{$n})) {
        display: inline-block;
      }
    } @else { // Hide dots for non left-most slides on last page
      &:nth-last-of-type(-n+#{$n - 1}) {
        display: none;
      }
    }
  }

  //TODO needed?
  > input[type="radio"]:nth-last-of-type(#{$n}):checked ~ #{$B}__dots #{$B}__dot:last-of-type::before {
    opacity: 1;
  }

  // For all possible checked radios
  // Loop indices are 0-based, :nth-x selectors are 1-based, take care
  @for $i from 0 to $css-slider-max-slides {
    > input[type="radio"]:nth-of-type(#{$i + 1}):checked {
      @if $wrap {
        // Left arrow on first page, goes to last slide
        @if $scroll-full-page {
          &:nth-of-type(-n+#{$n}) {
            ~ #{$B}__arrows--left #{$B}__arrow:last-child {
              display: block;
            }
          }
        } @else {
          &:first-of-type {
            ~ #{$B}__arrows--left #{$B}__arrow:last-child {
              display: block;
            }
          }
        }

        // Right arrow on last page, goes to first slide
          &:nth-last-of-type(-n+#{$n}) {
            ~ #{$B}__arrows--right #{$B}__arrow:first-child {
              display: block;
            }
          }
      }

      @if $scroll-full-page and $n > 1 {
        // Left arrow on standard pages
        @if $i >= $n {
          ~ #{$B}__arrows--left #{$B}__arrow:nth-of-type(#{($i - $i % $n) - $n + 1}) {
            display: block;
          }
        }

        // Right arrow on standard pages
        ~ #{$B}__arrows--right #{$B}__arrow:nth-of-type(#{($i - $i % $n) + $n + 1}) {
          &:not(:nth-last-of-type(-n+#{$n})) {
            display: block;
          }
        }

        // Right arrow to last page
        &:nth-last-of-type(n+#{$n + 1}):nth-last-of-type(-n+#{$n * 2}) {
          ~ #{$B}__arrows--right #{$B}__arrow:last-child {
            display: block;
          }
        }

        // Current dot
        ~ #{$B}__dots > #{$B}__dot:nth-of-type(#{$i - $i % $n + 1})::before,
        &:last-of-type ~ #{$B}__dots > #{$B}__dot:last-of-type::before {
          opacity: 1;
        }

        // Slide the slides
        // For radios on all pages except the last
        &:not(:nth-last-of-type(-n+#{$n})) {
          // Slide left by full page-widths
          ~ #{$B}__slides #{$B}__slide {
            transform: translate3d(($i - $i % $n) * -100%, 0, 0);
          }
        }

      } @else { // Scroll by only one item
        // Left arrow
        @if $i > 0 {
          &:not(:nth-last-of-type(-n+#{$n})) {
            ~ #{$B}__arrows--left #{$B}__arrow:nth-of-type(#{$i}) {
              display: block;
            }
          }

          &:nth-last-of-type(-n+#{$n}) {
            ~ #{$B}__arrows--left #{$B}__arrow:nth-last-of-type(#{$n + 1}) {
              display: block;
            }
          }
        }

        // Right arrow
        &:not(:nth-last-of-type(-n+#{$n})) ~ #{$B}__arrows--right #{$B}__arrow:nth-of-type(#{$i + 2}) {
          display: block;
        }

        // Current dot
        &:not(:nth-last-of-type(-n+#{$n})) {
          ~ #{$B}__dots #{$B}__dot:nth-of-type(#{$i + 1 })::before {
            opacity: 1;
          }
        }

        &:nth-last-of-type(-n+#{$n}) {
          ~ #{$B}__dots #{$B}__dot:nth-last-of-type(#{$n})::before {
            opacity: 1;
          }
        }

        // Slide the slides
        &:not(:nth-last-of-type(-n+#{$n})) {
          ~ #{$B}__slides #{$B}__slide {
            transform: translate3d($i * -100%, 0, 0);
          }
        }
      }

      // Show last page for any of the last n radios
      @for $j from 0 to $n { // Nested loop! Keep this short
        &:nth-last-of-type(#{$n - $j}) {
          // Slide to the last page
          ~ #{$B}__slides #{$B}__slide {
            // Slide #{$i - $j} is always the left-most slide on the last page
            transform: translate3d(($i - $j) * -100%, 0, 0);
          }
        }
      }
    }
  }
}
