/* slider-example */

@import 'slider';

$max-slides: 10;

/* Your slider class */
.csslider {
	@include slider-base($max-slides);

	@media (max-width: 600px) {
		background-color: #fa0;
		@include paginate(1, $max-slides);
	}

	@media (min-width: 601px) {
		background-color: #a0f;
		@include paginate(3, $max-slides);
	}
}

