/* slider-example */

@import 'slider';

$max-slides: 10;


.csslider { // Your slider class
	// Initialize this as a basic slider
	@include slider-base($max-slides);

	// Customize it
	margin: 0 20px;

	// Add 1 column sliding FIXME
	@media (max-width: 400px) {
		background-color: #fa0;
		@include paginate(1, $max-slides);
	}

	// Add multi column
	@media (min-width: 401px) {
		background-color: #a0f;
		@include paginate(3, $max-slides);
	}
}

