@for $i from 1 through $slider-max-slides {
  .csslider > input:nth-of-type(#{$i}):checked ~ ul li:first-of-type {
    margin-left: #{ ($i - 1) * - (100% / $columns)};
  }
}

.csslider > ul > li {
  width: (100% / $columns);
}

@if $columns > 1 {
  .csslider > .navigation > label {
    &:nth-of-type(#{$columns}n):not(:nth-last-of-type(#{$columns})) {
      display: none;
    }

    @if $columns > 2 {
      @for $i from 2 through ($columns - 1) {
        &:nth-of-type(#{$columns}n + #{$i}):not(:nth-last-of-type(#{$columns})) {
          display: none;
        }
      }
    }

    @for $i from 1 through ($columns - 1) {
      &:nth-last-of-type(#{$i}) {
        display: none;
      }
    }
  }
}

//Arrows Left
@for $i from 1 through $slider-max-slides {
  $offset : (($i + ($columns - 1)) % $columns);
  @if $offset == 0 {
    $offset : $columns;
  }

  .csslider > input:nth-of-type(#{$i}):checked ~ .navigation label:nth-of-type(#{$i + ($columns - 1)}):not(:nth-last-of-type(-n + #{$columns})):after {
    opacity: 1;
  }

  .csslider > input:nth-of-type(#{$i}):checked ~ .arrows.left label:nth-of-type(#{$i - $offset} ) {
    display: block;
  }
}

//Arrows Right
@for $i from 1 through $slider-max-slides {
  $offset : $columns - (($i + ($columns - 1)) % $columns);
  .csslider > input:nth-of-type(#{$i}):checked ~ .arrows.right label:nth-of-type(#{$i + $offset}):not(:nth-last-of-type(-n + #{$columns - 1})) {
    display: block;
  }
}

//Cases with number(sizes) mod $columns != 0
@if $columns > 1 {
  @for $i from 1 through ($columns - 1) {
    @for $ii from 1 through ($columns - $i) {
      .csslider > input:nth-of-type(#{$columns}n + #{$i}):nth-last-of-type(#{$columns + $ii}):checked ~ .arrows.right label:nth-last-of-type(#{$columns}) {
        display: block;
      }
    }
  }
}

// Infinity Cases
.csslider.infinity > input:last-of-type:checked ~ .arrows.right label:first-of-type {
  display: block;
}

@for $i from 1 through ($columns) {
  .csslider.infinity > input:nth-last-of-type(#{$i}):checked ~ .arrows.right label:nth-of-type(1) {
    display: block;
  }
}

.csslider.infinity > input:first-of-type:checked ~ .arrows.left label:nth-last-of-type(#{$columns}) {
  display: block;
}
