.csslider {
  margin-bottom: 22px;

  > ul {
    height: 420px;
    background-color: #d1d1d1;
    border: 10px solid #d1d1d1;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    > li {
      height: 100%;
      overflow: hidden;
      background-size: cover;
    }
  }
}

$slider-max-slides: 20;
@import 'slider';

$columns: 1;
@media(max-width: 799px) {
  @import 'make_slider_column';
  .csslider > ul {width: 500px}
}

$columns: 2;
@media(min-width: 800px) and (max-width: 999px) {
  @import 'make_slider_column';
  .csslider > ul {width: 600px}
}

$columns: 3;
@media(min-width: 1000px) {
  @import 'make_slider_column';
  .csslider > ul {width: 800px}
}
