$width: 100%;
$number_slides: 20;
.csslider {
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.csslider > input {
  display: none;
}
@for $i from 1 through $number_slides {
  .csslider > input:nth-of-type(#{$i}):checked ~ ul li:first-of-type {
    margin-left: #{ ($i - 1) * - $width};
  }
}
.csslider > ul {
  position: relative;
  width: 820px;
  height: 420px;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  background-color: #d1d1d1;
  border: 10px solid #d1d1d1;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}
.csslider > ul > li {
  position: relative;
  display: inline-block;
  width: $width;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  transition: all 2s ease;
  background-size: cover;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
}
.csslider > ul > li.scrollable {
  overflow-y: scroll;
}
.csslider > .navigation {
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 10;
  margin-bottom: -10px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  user-select: none;
}
.csslider > .navigation > div {
  margin-left: -100%;
}
.csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 2px;
  padding: 5px;
  background: #d1d1d1;
}
.csslider > .navigation label:hover:after {
  @extend %opacity1;
}
.csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3px;
  margin-top: -3px;
  background: #0097ef;
  border-radius: 50%;
  padding: 3px;
  opacity: 0;
}
.csslider > .arrows {
  user-select: none;
}
.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}
.csslider.inside .navigation label {
  border: 1px solid #7e7e7e;
}

%opacity1 {
  opacity: 1;
}
@for $i from 1 through $number_slides { 
  .csslider > input:nth-of-type(#{$i}):checked ~ .navigation label:nth-of-type(#{$i}):after {
    @extend %opacity1;
  }
}
.csslider > .arrows {
  position: absolute;
  left: -31px;
  top: 50%;
  width: $width;
  height: 26px;
  padding: 0 31px;
  z-index: 0;
  box-sizing: content-box;
}
.csslider > .arrows label {
  display: none;
  position: absolute;
  top: -50%;
  padding: 13px;
  box-shadow: inset 2px -2px 0 1px #d1d1d1;
  cursor: pointer;
  // transition: .15s;
}
.csslider > .arrows label:hover {
  box-shadow: inset 3px -3px 0 2px #0097ef;
  margin: 0 0px;
}
.csslider > .arrows label:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
}
@media(max-width: 1199px) {
  %show-label-left {
    display: block;
    left: 0;
    transform: rotate(45deg);
  }
  @for $i from 1 through $number_slides {
    .csslider > input:nth-of-type(#{$i}):checked ~ .arrows label:nth-of-type(#{$i - 1}) {
      @extend %show-label-left;
    }
  }
  .csslider.infinity > input:first-of-type:checked ~ .arrows label:last-of-type {
      @extend %show-label-left;
  }  
  %show-label-right {
    display: block;
    right: 0;
    transform: rotate(225deg);
  }

  @for $i from 1 through $number_slides {
    .csslider > input:nth-of-type(#{$i}):checked ~ .arrows label:nth-of-type(#{$i + 1}) {
      @extend %show-label-right;
    }
  }
  .csslider.infinity > input:last-of-type:checked ~ .arrows label:first-of-type {
    @extend %show-label-right;
  }
}

$width: 33.3333%;
@media(min-width: 1200px) {
  @import 'make_slider_column';
}